<div class="nested-fields">

  <%= f.label :translation %>
  <%= f.text_field :translation %>
  <%= f.label :language %>
  <%= f.text_field :language %>
  
  <%= link_to_remove_association "Remove Translation", f %>

</div>