<div class="nested-fields">
  <%= f.label :word %>
  <%= f.text_field :word %>
  <%= f.label :hiragana %>
  <%= f.text_field :hiragana %>
  <%= f.label :reading %>
  <%= f.text_field :reading %>
  <%= f.label :note %>
  <%= f.text_area :note %>

    <h4>Translation</h4>
      <div id="translation_fields">
      <%= f.fields_for :translations do |translation| %>
        <%= render 'translation_fields', f: translation %>
      <% end %>
      <span class="links">
        <%= link_to_add_association 'Add Translation', f, :translations %>
      </span>
  <%= link_to_remove_association "Remove Word", f %>
</div>
