<% if current_user.admin? %>
<table>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.name %></td>
  </tr>
  <% end %>
</table>
<hr/>
<table>
  <% @users_with_stripe.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.name %></td>
    <td><%= user.stripe_customer_id %></td>
  </tr>
  <% end %>
</table>
<% end %>