<div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    
                     <div class="clearfix"></div>
                    <li class="active"><a href="dashboard.html"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span></a></li>
                    <li><%= link_to "New Word", new_word_path %></li>
                    <li><%= link_to "New Textbook", new_textbook_path %></li>
                    <li><a href="Forms.html"><i class="fa fa-edit fa-fw">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">Forms</span></a>
                      
                    </li>
                    <li><a href="Tables.html"><i class="fa fa-th-list fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Tables</span></a>
                          
                    </li>
                    <li><a href="DataGrid.html"><i class="fa fa-database fa-fw">
                        <div class="icon-bg bg-red"></div>
                    </i><span class="menu-title">Data Grids</span></a>
                      
                    </li>
                    <li><a href="Pages.html"><i class="fa fa-file-o fa-fw">
                        <div class="icon-bg bg-yellow"></div>
                    </i><span class="menu-title">Pages</span></a>
                       
                    </li>
                    <li><a href="Extras.html"><i class="fa fa-gift fa-fw">
                        <div class="icon-bg bg-grey"></div>
                    </i><span class="menu-title">Extras</span></a>
                      
                    </li>
                    <li><a href="Dropdown.html"><i class="fa fa-sitemap fa-fw">
                        <div class="icon-bg bg-dark"></div>
                    </i><span class="menu-title">Multi-Level Dropdown</span></a>
                      
                    </li>
                    <li><a href="Email.html"><i class="fa fa-envelope-o">
                        <div class="icon-bg bg-primary"></div>
                    </i><span class="menu-title">Email</span></a>
                      
                    </li>
                    <li><a href="Charts.html"><i class="fa fa-bar-chart-o fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Charts</span></a>
                       
                    </li>
                    <li><a href="Animation.html"><i class="fa fa-slack fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Animations</span></a></li>
                </ul>
            </div>
        </nav>
            <!--END SIDEBAR MENU-->
            
  <div id="page-wrapper">
    <div class="page-content">
      <div id="tab-general">
        <div id="sum_box" class="row mbl">
          <div class="col-sm-6 col-md-3">
            <div class="panel profit db mbm">
              <div class="panel-body">
                <p class="icon">
                  <i class="icon fa fa-shopping-cart"></i>
                </p>
                <h4 class="value">
                  <span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0">
                  </span><span><i class="glyphicon glypichon-text-color"></i></span></h4>
                  <p class="description"><i class="glyphicon glyphicon-text-color"></i>
                      Words: <%= Word.all.to_a.length %></p>
                  <div class="progress progress-sm mbn">
                    <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                         style="width: 80%;" class="progress-bar progress-bar-success">
                         <span class="sr-only">Words: <%= Word.all.to_a.length %></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel income db mbm">
                <div class="panel-body">
                  <div class="card-wrapper">
                    <%= render 'card' %>
                  </div>             
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>



